<div class="container">
	<div class="row">
		<div class="col-lg-6">
			<div class="table">
				<table>
					<h2>顧客一覧</h2>
					<thead>
			      		<tr>
			      			<th>氏名</th>
			      			<th>退会ステータス</th>
			      		</tr>
		      		</thead>
		      		<tbody>
						<% @customers.each do |customer| %>
							<tr>
								<td><%= customer.full_name %></td>
								<td><% if customer.is_active == true %>
									会員
									<% else customer.is_active == false %>
									退会
									<% end %></td>
								<td><%= link_to "顧客情報編集へ", edit_admins_customer_path(customer) %></td>
							</tr>
						<% end %>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

