<div class="container">
	<div class="row">
		<div class="col-sm-7">
			<div class="table">
				<h2>注文履歴画面</h2>
				<table>
					<thead>
						<tr>
							<td>購入日時</td>
							<td>購入者</td>
							<td>注文個数</td>
							<td>注文ステータス</td>
						</tr>
					</thead>
					<tbody>
						<% @orders.each do |order| %>
							<td><%= link_to "order.created_at", order_path(order) %></td>
							<td><%= order.name %></td>
							<td><%= order.amount %></td>
							<td><%= order.status %></td>
						<% end %>
					</tbody>
				</table>
			</div>
		</div>
	</div>